# NOTE - Host info below will be replaced with environment variables from entrypoint
# Changing this line in this file will override the replacement

listeners
uselistener http
set Name https
set Host https://127.0.0.1
set Port 443
set CertPath data/
execute